{% extends 'flatpages/default.html' %}
{% block title %}
Все категории
{% endblock title %}
{% block content %}
<h1>Все категории</h1>
{% for category in categories %}
    <h2><a href="{% url 'posts_of_categories_list' category.id %}">
        {{ category.name }}
    </a>{% if user in category.subscribers.all %}
        <a href="#" class="btn btn-success"> Подписаны</a>
        {% else %}
        <a href="{% url 'subscribe_to_category' category.id %}" class="btn btn-primary"> Подписаться</a>
        {% endif %}
    </h2>
{% endfor %}
{% endblock content %}
